html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
    color: #FFFFFF;
    background-color: #000000;
}

.container {
    /*text-align: center;
    display: table-cell;*/
    vertical-align: middle;
}

.content {
    text-align: center;
    
}

.title {
    margin-top: 40vh;
    font-size: 96px;
}